<!DOCTYPE html>
{% load staticfiles %}
<html >
  <head>
    <link rel="shortcut icon" href="{% static 'logo.jpg' %}" type="image/x-icon" />
    <title>View Your's Grievance Status </title>
    <style media="screen">
      .btn {
        background-color:#24A91F;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 13px;
        cursor: pointer;
      }



      /* Darker background on mouse-over */
      .btn:hover {
        background-color: #06286E  ;
      }

    </style>
      {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'css/dashboad.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h3 align="center" class="yellow">hello,{{request.user.username}}</h3>
  <h1><span class="blue"></span>Grievance Record<span class="blue"></span> <span class="yellow">Status</span></h1>
  <br>
  <h3 align="center" ><a class="yellow" href="{% url 'home' %}">Back To Home Screen</a><h3>


  <table class="container" class="responsive-table" style="font-size: 90%; width: 100%" >
    <thead>
      <tr>
        <th style="min-width:50px"><h1>Title</h1></th>
        <th style="min-width:50px"><h1>Filed Date</h1></th>
        <th style="min-width:50px"><h1 style="text-align: center">Content</h1></th>
        <th><h1 style="align-text:center;min-width:170px">Action</h1></th>
      </tr>
    </thead>
    <tbody>
      {% for grievance in grievances.all %}
      <tr>
        <td style="min-width:140px">{{ grievance.title}}</td>
        <td style="min-width:100px">{{ grievance.pub_date_pretty}}</td>
        <td>{{ grievance.body}}</td>
        <td>
      <button class="btn" onclick="window.location = '{% url 'status' grievance.id %}';"><i class="fa fa-check">Check Status</i></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  </body>

</html>
